{%extends 'core/base.html'%}
{%block titulo%}
    Agregar producto
{%endblock%}
{%block content%}
    {% load static %}
<link rel="stylesheet" href="static/core/css/style.css">
<h1 id=titTabla>Formulario producto</h1>
{%if respuesta%}
<div class="alert alert-success" role="alert">
    Guardado exitoso.
</div>
{%endif%}
<div id=divForm>
<form method="POST">                    
    {%csrf_token%}
        <div class="form-group">
                <label for="nombre">ID Producto:</label>
                <input class="form-control" type="number" name="idProducto" required/>
        </div>
        <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input class="form-control" type="text" name="nombre" required/>
        </div>
        <div class="form-group">
                <label for="costoPresupuesto">Costo presupuesto:</label>
                <input class="form-control" type="number" name="costoPresupuesto" />
        </div>
        <div class="form-group">
                <label for="costoReal">Costo real:</label>
                <input class="form-control" type="number" name="costoReal" />
        </div>
        <div class=form-group>
                <label for="notas">Notas:</label>
                <input class="form-control" type="text" name="notas"/>
        </div>
        <div class=form-group>
                <label for="estado">Estado:</label>
                <select class="form-control" name="estado">
                    <option disabled selected>Seleccione</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Comprado">Comprado</option>
                </select>
        </div>
        <div class=form-group>
                <label for="notas">Tienda:</label>
                <select class="form-control" name="idTienda">
                    <option disabled selected>Seleccione</option>
                    {% for i in tienda %}
                        <option value="{{i.idTienda}}">{{i.nombre}}</option>
                    {%endfor%}
                </select>
        </div>
        <div class=form-group>
                <label for="notas">Lista:</label>
                <select class="form-control" name="idLista">
                    <option disabled selected>Seleccione</option>
                    {% for i in lista %}
                        {%if user.email == i.correo%}
                            <option value="{{i.idLista}}">{{i.nombre}}</option>
                        {%endif%}
                    {%endfor%}
                </select>
        </div>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value="Guardar">
                <input type="reset" class="btn btn-dark" value="Limpiar">
            </td>
        </tr>
    </table>
</form>
<br>
</div>
{%endblock%}